* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #f2e6d8;       
  --card-bg: #fffaf5;       
  --accent: #d19a66;        
  --accent-dark: #8b5e34; 
  --text-main: #3b2415;     
  --text-muted: #7b5436;    
  --success: #7a9b57;       
}



body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
